<div class="container">
  <div class="ccol-xl-4 col-lg-5 col-md-7 col-sm-8 col-10 text-center mx-auto">
    <h1 class="text-center title"> Neue Erklärung erstellen </h1>
    <form [formGroup]="generationForm" (ngSubmit)="generate()" class="justify-content-center">
      <div class="form-group">
        <label class="text-left"> Geben Sie bitte den Titel ein:
          <input type="text" class="form-control" formControlName="newTitle">
          <button id="generateQrCode" class="btn btn-success login form-control">Erstellen</button>
        </label>

      </div>

      <div *ngIf="invalidInput" class="alert alert-danger text-left" style="margin-top: 15px">Bitte geben Sie eine Zahl an!</div>
    </form>

    <div *ngIf="generated" class="form-group" style="margin-top: 15px">
      Ihr generierter QR Code zur ID {{ newId }}:
      <div>
        <img [src]="qrCode" style="margin-top: 15px">
      </div>
    <div>
      <nav>
      <button (click)="goToOverview()" class="btn btn-success login form-control">Inhalt bearbeiten</button>
      <a [href]="fileUrl" download="qr-code.png" class="btn btn-success login form-control">QR Code herunterladen</a>
      </nav>
    </div>
    </div>
  </div>
</div>
