<div class="container">

  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10 text-center mx-auto ">
      <h1 class="text-center title"> Login </h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="justify-content-center">

      <div class="form-group">
        <label for="email" class="text-left sign-in-label">
          E-Mail-Adresse:
          <input id="email" class="form-control" type="text" formControlName="email"
                 placeholder="Bitte geben Sie ihre Email ein" required/>
        </label>
      </div>
      <div class="form-group">
        <label for="password" class="text-left sign-in-label">
          Passwort:
          <input class="form-control"
                 id="password" type="password" formControlName="password"
                 placeholder="Bitte geben Sie ihr Passwort ein" required/>
        </label>
      </div>
      <div class="justify-content-start text-left">
        <div>
          <label for="optRadio" class="radio">
            <input id="optRadio" type="radio" checked name="optRadio" class="radio"
                   (change)="userView = !userView; logUserView();">
            Benutzer-Sicht
          </label>
        </div>
        <div>
          <label for="optRadio2" class="radio">
            <input id="optRadio2" type="radio" name="optRadio" class="radio"
                   (change)="userView = !userView; logUserView();">
            Bearbeiter-Modus
          </label>
        </div>
      </div>
      <button class="btn btn-success form-control">Anmelden</button>
    </form>
    <div *ngIf="isInvalid" class="alert alert-danger">Login fehlgeschlagen</div>
    <nav class="register text-left">
      <a routerLink="/register">Noch kein Mitglied? Hier registrieren</a>
    </nav>
  </div>
</div>
