<div id="app">
  <div class="justify-content-center container col-12 col-sm-10 col-lg-8 col-xl-6">
    <h1 class="title text-center">QR-Code Scannen</h1>
    <video #video id="video" height="480" autoplay></video>

    <div *ngIf="!permission" class="alert alert-warning">Keine Erlaubnis auf Kamera zuzugreifen, laden Sie die Seiter erneut und erlauben Sie Kamerazugriff falls Sie die App benutzen wollen</div>
    <button (click)="logout()"class="btn btn-secondary">logout</button>
    <div *ngIf="isEditor">
      <nav>
        <a routerLink="/generate">Neuen Eintrag anlegen</a>
      </nav>
    </div>
  </div>
</div>
