body {
  background-color: #F0F0F0;
}
#app {
  text-align: left;
  color: #2c3e50;
  margin-top: 40px;
}
#video {
  border-radius: 3px;
  width: 100%;
  background-color: #161618;
}
.btn-danger{
  margin: 10px 10px -20px 10px;
}

