<div *ngIf="isLoadingFromDatabase()" class="lds-roller">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div *ngIf="!isLoadingFromDatabase()">
  <button (click)="goBack()">Neuen QR-Code scannen</button>
  <div *ngIf="!error">
    <h1>{{title}}</h1>
    <!--falls text vorhanden ist, den button anzeigen lassen-->
    <div *ngIf="hasText">
      <button (click)="goToTextContent()">Textinformation abrufen</button>
    </div>
    <div *ngIf="!hasText">
      Es wurde noch kein Eintrag zu {{title}} erstellt.
    </div>
  </div>
  <div *ngIf="error">
    <h1>Hinweis</h1>
    Zu diesem QR-Code sind keine Informationen verfügbar.
  </div>
</div>
    

