.sign-in-label, .register-label, .register-code{
  // email- und passwortfeld sollen komplette breite des containers einnehmen
  width: 100%;
}

.title{
  // Überschrift dünner
  font-weight: lighter;
  color: darkblue;
  // Linie, die Titel von Inputfeld (Email) trennt
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
  width: 100%;
  border-color: #CCC;
  position: center;
  margin: 30px 0px;
  padding-bottom: 10px;
  //--------------------------------------------
}

// Abstand der Inputfelder und der Radio-Button
.login, .radio, .register{
  margin-top: 5px;
  // es sol ein finger eingeblendet werden wenn man ueber die Radiobutton faehrt
  cursor: pointer;
}

// Fehlernachrich, falls Login fehlschlaegt
.alert-danger{
  margin: 5px 0px;
}

.btn-success{
  margin: 10px 0px;
}

$back-button-color: #ddd; // grey
// wenn man ueber back buttn hover wird er dunkler
.back-button:hover{
  background-color: darken($back-button-color, 15%) !important;
}

.back-button{
  margin: 10px;
  background-color: $back-button-color !important;
}


